<!-- <div class="container"> -->
  <div class= "cocktail-page-header">
    <div class="title-pic">
      <h1><%= @cocktail.name %></h1>
      <% if @cocktail.photo.attached?%> %>
        <%= cl_image_tag @cocktail.photo.key%>
      <% else %>
        <%= image_tag "cocktail.png" %>
      <% end %>
    </div>
    <div class="ingredients-container">
      <h1>Ingredients:</h1>
      <h2><% @cocktail.doses.each do |dose| %></h2>
      <div class="ingredient-trash"
        <h6><%= "#{dose.ingredient.name} - #{dose.description}" %></h6>
        <div class="delete-question-icon">
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="far fa-times-circle"></i>
          <% end %>
        </div>
        </div>
      <% end %>
      <div class="add-ingredient-list">
        <h2>Add an Ingredient..</h2>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient%>
          <%= f.input :description %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="buttons">
      <h4><%= link_to "Back to Cocktails", cocktails_path %></h4>
      <h4><%= link_to "Delete Cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }%></h4>
  </div>
<!-- </div>
 -->

